@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-warning ">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">####################################################################################Teste.</p>
  <hr class="my-4">
  <p>##################################################teste###############################################.</p>
  <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Movies" role="button">Learn more</a>
  </p>
</div>

<div class="text-center">
    <h1 class="display-4">Base de dados - Filmes</h1>
   <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/movies.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Movies</h5>
        <p class="card-text">#################TESTE##############################################################.</p>
        <a href="/Movies" class="btn btn-primary">Link to movies</a>
    </div>
</div>